In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
db=pd.read_csv("attacks.csv",encoding="cp1252")

In [13]:
db_copia= db.copy()

In [14]:
db

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [16]:
db=db.drop(['Unnamed: 22','Unnamed: 23'], axis=1)

In [17]:
db.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [18]:
db

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1st part: FIRST TOY MODEL: demographics

In [19]:
db[['Age','Sex ']]

       Age Sex
0       57    F
1       11    F
2       48    M
3      NaN    M
4      NaN    M
...    ...  ...
25718  NaN  NaN
25719  NaN  NaN
25720  NaN  NaN
25721  NaN  NaN
25722  NaN  NaN

[25723 rows x 2 columns]

In [20]:
db.Age.isnull().value_counts()

True     22252
False     3471
Name: Age, dtype: int64

In [21]:
db_nulls=pd.DataFrame(db)

In [22]:
db_nulls=db_nulls['fill_back'] = db_nulls['Sex '].fillna(method='bfill', limit=5)

In [23]:
db['Sex_modified']=db_nulls

In [24]:
db.Sex_modified

0          F
1          F
2          M
3          M
4          M
        ...
25718    NaN
25719    NaN
25720    NaN
25721    NaN
25722    NaN
Name: Sex_modified, Length: 25723, dtype: object

In [25]:
db.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Sex_modified'],
      dtype='object')

In [26]:
pd.set_option("display.max_row", 300)
db.loc[:305]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Sex_modified
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,F
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,F
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,M
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,M
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2016.03.03.R,Reported 03-Mar-2016,2016.0,Unprovoked,AUSTRALIA,South Australia,Wrights Bay,Fishing,Lee Taplin,M,...,Midnight,Bronze whaler,"9 News, 3/1/2016",2016.03.03.R-Taplin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.03.R,2016.03.03.R,6002.0,M
302,2016.03.02,02-Mar-2016,2016.0,Unprovoked,BRAZIL,Santa Catarina State,Escalerio Beach BalneÃ¡rio CamboriÃº,Swimming,Rafael Hermes Thomas,M,...,NaN,Sandtiger shark,"Misones Online, 3/4/2016",2016.03.02-Thomas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.02,2016.03.02,6001.0,M
303,2016.02.22,22-Feb-2016,2016.0,Unprovoked,NEW CALEDONIA,South Province,"Ricaudy Reef, Noumea",Kite surfing,Adrian *,M,...,19h00,NaN,"Les Nouvelles CalÃ©doniennes, 2/23/2016",2016.02.22-Noumea.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.02.22,2016.02.22,6000.0,M
304,2016.02.19,19-Feb-2016,2016.0,Unprovoked,NEW CALEDONIA,South Province,Yate,Spearfishing,male,M,...,16h00,NaN,"Les Nouvelles CalÃ©doniennes, 2/19/2016",2016.02.19-NewCaledonia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.02.19,2016.02.19,5999.0,M
305,2016.02.12,12-Feb-2016,2016.0,Unprovoked,DOMINICAN REPUBLIC,Altagracia Province,"Bavaro Beach, Punta Cana",Wading,Patricia Howe,F,...,15h00,NaN,S. Harris,2016.02.12-Howe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.02.12,2016.02.12,5998.0,F

In [27]:
db=db.drop(['Sex '], axis=1)

In [28]:
db

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Age,...,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Sex_modified
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,...,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,F
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,11,...,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,F
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,48,...,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,M
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,NaN,...,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,M
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,NaN,...,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
db = db.rename(columns={'Sex_modified': 'Gender'})

In [30]:
db.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Gender'],
      dtype='object')

In [32]:
db.Age.dtype

dtype('O')

In [33]:
db.Age.astype('str')

0         57
1         11
2         48
3        nan
4        nan
        ...
25718    nan
25719    nan
25720    nan
25721    nan
25722    nan
Name: Age, Length: 25723, dtype: object

In [31]:
pd.set_option("display.max_row", 250)
db.Age.value_counts()

17                         154
18                         150
19                         142
20                         141
15                         139
16                         138
21                         119
22                         117
25                         108
24                         106
14                         101
13                          94
26                          83
23                          80
28                          80
27                          78
29                          78
30                          76
12                          73
32                          69
35                          69
10                          56
40                          56
31                          52
34                          50
38                          48
33                          44
43                          43
36                          43
37                          42
39                          38
42                          38
41                          38
11                          37
52                          35
9                           35
50                          33
45                          32
47                          30
44                          29
48                          28
49                          28
8                           28
46                          27
55                          23
7                           22
51                          20
54                          17
57                          16
60                          16
58                          15
6                           14
61                          13
53                          13
59                          11
56                          10
69                          10
63                           9
Teen                         9
62                           8
5                            7
30s                          7
20s                          7
68                           7
70                           6
65                           5
3                            5
teen                         5
64                           4
66                           4
77                           3
40s                          3
73                           3
71                           3
young                        2
75                           2
8 or 10                      2
78                           2
                             2
50s                          2
1                            2
7 or 8                       2
21 or 26                     1
36 & 26                      1
87                           1
                             1
21 & ?                       1
10 or 12                     1
74                           1
X                            1
"young"                      1
Both 11                      1
86                           1
9 & 12                       1
18 to 22                     1
 28                          1
33 & 26                      1
6Â½                           1
20?                          1
mid-30s                      1
74                           1
 43                          1
MAKE LINE GREEN              1
72                           1
2Â½                           1
23 & 26                      1
30 & 32                      1
30 or 36                     1
"middle-age"                 1
60s                          1
82                           1
13 or 14                     1
45                           1
18 months                    1
34 & 19                      1
A.M.                         1
84                           1
? & 19                       1
12 or 13                     1
46 & 34                      1
17 & 16                      1
31 or 33                     1
36 & 23                      1
25 or 28                     1
adult                        1
33 or 37                     1
32 & 30                      1
Teens                        1
 30                          1
17 & 35                      1
F                            1
Ca. 33                       1
13 or 18                     1
23 & 20                      1
50 & 30                      1
(adult)                      1
16 to 18                     1
67                           1
9 months                     1
mid-20s                      1
18 or 20                     1
28, 23 & 30                  1
81                           1
21, 34,24 & 35               1
28 & 26                      1
60's                         1
37, 67, 35, 27,  ? & 27      1
9 or 10                      1
>50                          1
?    &   14                  1
7      &    31               1
Â                             1
33 & 37                      1
Elderly                      1
20                           1
2 to 3 months                1
25 to 35                     1
Name: Age, dtype: int64

In [34]:
db.Age=db.Age.str.replace(r'^.een$',"18")
db.Age=db.Age.str.replace(r'^.eens$',"18")
db.Age=db.Age.str.replace(r'^.oun.$', "25")
db.Age=db.Age.str.replace(r'^.young''.$',"25")
db.Age=db.Age.str.replace(r'^.months$',"1")
db.Age=db.Age.str.replace(r'(^.*onth.*$)', "1")
db.Age=db.Age.str.replace(r'(^.*dul.*$)', "40")
db.Age=db.Age.str.replace(r'(^.*lderl.*$)', "70")
db.Age=db.Age.str.replace(r'(^.*M..*$)', "NaN")
db.Age=db.Age.str.replace(r'(^.*middle-age.*$)',"35")
db.Age=db.Age.str.replace(r'(.*)\\sor.*', r'\\1')
db.Age=db.Age.str.replace(r'(^.*GREEN*$)', "Nan")
db.Age=db.Age.str.replace(r'^\\s\\s.*', r"NaN")
db.Age=db.Age.str.replace(r'(^.*Both.*$)',"11")
db.Age=db.Age.str.replace(r'(^.*mid.*$)',"35")
db.Age=db.Age.str.replace(r'(^.*or.*$)',"10")
db.Age=db.Age.str.replace(r'(^.*to.*$)',"30")
db.Age=db.Age.str.replace(r'(^.*F.*$)',"Nan")
db.Age=db.Age.str.replace(r'(^.*X.*$)',"Nan")
db.Age=db.Age.str.replace(r'(^.*Ca.*$)',"33")
db.Age=db.Age.str.replace(r'(^.*&.*$)',"NaN")
db.Age=db.Age.str.replace(r'(^.*43.*$)',"43")
db.Age=db.Age.str.replace(r'(^.*40.*$)',"40")
db.Age=db.Age.str.replace(r'(^.*60.*$)',"60")
db.Age=db.Age.str.replace(r'(^.*30.*$)',"30")
db.Age=db.Age.str.replace(r'(^.*20.*$)',"20")
db.Age=db.Age.str.replace(r'^\s.*', r"NaN")
db.Age=db.Age.str.replace(r'(^.*50.*$)',"30")
db.Age=db.Age.str.replace(r'(^.*2Â½.*$)',"3")
db.Age=db.Age.str.replace(r'(^.*6Â½.*$)',"7")
db.Age=db.Age.str.replace("nan", "NaN")
db.Age=db.Age.str.replace("Nan", "NaN")
db.Age=db.Age.str.replace("NaN", "0")

In [35]:
pd.set_option("display.max_row", 250)
db.Age.value_counts()

18     165
17     154
20     150
19     142
15     139
16     138
30     123
21     119
22     117
25     111
24     106
14     101
13      94
26      83
23      80
28      80
29      78
27      78
12      73
35      72
10      71
32      69
40      61
31      52
34      50
38      48
33      45
43      44
36      43
37      42
42      38
11      38
39      38
41      38
52      35
9       35
45      32
0       31
47      30
44      29
48      28
49      28
8       28
46      27
55      23
7       23
51      20
60      18
54      17
57      16
58      15
6       14
61      13
53      13
59      11
56      10
69      10
63       9
62       8
68       7
5        7
70       7
3        6
1        5
65       5
66       4
64       4
77       3
71       3
73       3
78       2
75       2
45       1
74       1
87       1
86       1
67       1
82       1
74       1
72       1
84       1
81       1
Name: Age, dtype: int64

In [36]:
#Mean age= 25,3
db_Age_nulls=pd.DataFrame(db)
db_Age_nulls['Age'] = db_Age_nulls['Age'].fillna(25)

2nd part: TOY MODEL 2: space-time statistics

In [37]:
#There so many dates and locations that is very difficult to take some insightful information.

In [38]:
db[['Date','Location','Area']]

              Date                        Location             Area
0      25-Jun-2018     Oceanside, San Diego County       California
1      18-Jun-2018  St. Simon Island, Glynn County          Georgia
2      09-Jun-2018                    Habush, Oahu           Hawaii
3      08-Jun-2018              Arrawarra Headland  New South Wales
4      04-Jun-2018                        La Ticla           Colima
...            ...                             ...              ...
25718          NaN                             NaN              NaN
25719          NaN                             NaN              NaN
25720          NaN                             NaN              NaN
25721          NaN                             NaN              NaN
25722          NaN                             NaN              NaN

[25723 rows x 3 columns]

In [39]:
db.Date.isnull().value_counts()

True     19421
False     6302
Name: Date, dtype: int64

In [40]:
db.Location.isnull().value_counts()

True     19961
False     5762
Name: Location, dtype: int64

In [41]:
db.Area.value_counts()

Florida                   1037
New South Wales            486
Queensland                 311
Hawaii                     298
California                 290
                          ...
Provence                     1
East Yorkshire               1
Strait of Messina            1
Antarctic Ocean              1
Las Perlas archipelago       1
Name: Area, Length: 825, dtype: int64

In [42]:
db.Activity.value_counts()

Surfing                         971
Swimming                        869
Fishing                         431
Spearfishing                    333
Bathing                         162
                               ...
Walking on reef                   1
Swimming, towing the shark        1
Washing clothes on stairs         1
boat capsized during filming      1
Jumped into river                 1
Name: Activity, Length: 1532, dtype: int64